<!DOCTYPE html>
<html>
	<head>	
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- <script src="../static/jquery/cust.js" charset="utf-8"></script> -->
        <!--using character set attribute in meta tag-->
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
      
	</head>
	
	<body>

		<div class="container">
			<!-- <form action="step1.html" method="get" onsubmit="return validate();">		 -->
			<form action="{{ url_for('cust.Post_contact_ajax') }}" method="POST"  id="cust" name="cust">
				
				<br><br>
				
				<div class="alert alert-success" role="alert" id="alert-success">
				  
				</div>

				<div class="alert alert-danger" role="alert" id="alert-danger">
				  
				</div>

			  <div class="row">
				  <div class="col-md-6 offset-md-3 offset-md-3">			  
					  <div class="form-group">						
						<h2 class="col-md-8 offset-md-3">Contact Form</h2>								
					  </div>
				  </div>
			  </div>

			  <div class="row">
				  <div class="col-md-4">
					  <div class="form-group">
					    <label for="username"><b>Contact Number</b> <b style="color: red;">*</b></label>
					    <input type="number" class="form-control" name="contact_number" id="contact_number" placeholder="Contact Number">
					    <span class="error" name="nameerror" id="nameerror"></span>					    
					  </div>
				  </div>
			  
				  <div class="col-md-4">
					  <div class="form-group">
					    <label for="email"><b>Name</b> <b style="color: red;">*</b></label>
					    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
					  	<span class="error" name="emailerror" id="emailerror"></span>
					  </div>					  
				  </div>
			  
			  	 <div class=" col-md-4">
				  	<div>
				  		<br />
						 <input type="button" id="next" name="next" value="Submit" class="btn mulberry"></input> 
					</div>		  
				 </div>
				
			  </div>			  
			  <div class="row">
				  <div class="col-md-12" id="myindexhtml">
				  </div>	
			</div>	  	
			  
			</form>
		</div> <!-- container end -->	

<!-- 		<input type="button" id="mytest" name="mytest" value="testajax" class="btn mulberry"></input> -->

	</body>

	<script src="../static/js/jquery.min.js" charset="utf-8"></script>
		<script src="../static/js/jquery.validate.js" charset="utf-8"></script>
		<script src="../static/js/popper.min.js" charset="utf-8"></script>

	<script src="../static/jquery/cust.js" charset="utf-8"></script>

	<!-- <script type="text/javascript">	
	</script>
	 -->
	
	
</html>