@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

			
.mulberry{

	background-color: #4a100c;

}
.btn{
	color: white !important;
}
/* .error{
	color: red;
	/*font-weight: bold;*/
} */
.test{
	background-color: #99cfff;
}
.color{
	background-color: #ffb3b3;
}

h2{
	padding-bottom: 10px;
}

body {
	background-color: #f2f2f2;
}
.error {
    color : red;
    width:100%;
    text-align: center;
}


/* .flip-container {
	margin: 50px;
	perspective: 1000;
	display: inline-block;
}
.flip-container:hover .card {
	transform: rotateY(180deg);
}
.card, .front, .back {
	width: 130px;
	height: 195px;
}
.card {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
}
.front {
	z-index: 1;
	transform: rotateY(180deg);
	background: url("../static/images/lupin_1.png") no-repeat;
}
.back {
	z-index: 2; /* back side, placed above front */
	/* transform: rotateY(0deg);
	background: url("../static/images/lupin_1.png") no-repeat;
} */ 
